body {
    background-color: #cd6600;
}

.page-header {
  text-align: center;
}

#demo {
  text-align: center;
}

#buttons {
  margin: auto;
  width: 168px;
}

* {
  font-family: "Trebuchet MS";
}

input[type="number"] {
   width:50px;
}

select[type="text"] {
   width:50px;
}

button[type="button"] {
   width:168px;
}
